@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    /* background: linear-gradient(to bottom, #64e469, #1863b9); */
     background: white;
     color: rgb(1, 1, 58);
     
    min-height: 100vh;
    /* height: 100%; */
}
nav{
    background: rgb(8, 8, 68);
    width: 100% !important;
}
header {
    /* background: linear-gradient(to right, #48536e, #3a72cc); */
    background: rgb(8, 8, 68);
    padding: 20px 0;
    position: relative;
    z-index: 1;
    width: 100%; /* Set width to 100% */
    box-sizing: border-box;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logoname {
    display: flex;
    align-items: center;
}

#logoname img {
    display: flex;
    align-items: center;
    justify-content: center;
}

#text {
    font-size: 2.5rem;
    color: #fff;
    margin-left: 10px;
    font-family: 'Pacifico', cursive;
}

.mobile-menu-icon {
    display: none;
    cursor: pointer;
    color: white;
}

.contain {
    display: flex;
    align-items: center;
}

h2{
    font-family: 'Poppins', serif;
}
.home, .about, .contact, .login-btn {
    border: none;
    border-radius: 20px;
    background-color: #FF4B2B;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-size: large;
    color: #fff;
}

.home:hover, .about:hover, .contact:hover, .login-btn:hover, .flow:hover, .btn:hover {
    background-color: #FF6C57;
    transform: translateY(-3px);
}

.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: rgba(44, 59, 99, 0.8);
    position: fixed; /* Change position to fixed */
    top: 70px;
    right: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Increase z-index */
}

.mobile-menu button {
    margin: 5px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body,
  input,
  textarea {
    font-family: "Poppins", sans-serif;
  }
  
  .container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form {
    width: 100%;
    max-width: 820px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .contact-form {
    background-color:  #FF4B2B;
    position: relative;
  }
  
  
  .contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color:  #FF4B2B;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
  }
  
  form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
  }
  
  .title {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
  }
  
  .input-container {
    position: relative;
    margin: 1rem 0;
  }
  
  .input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
  }
  
  textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
  }
  
  .input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
  }
  
  .input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
  }
  
  .btn {
    padding: 0.6rem 1.3rem;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color:  #FF4B2B;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
  }
  
  .input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
  }
  
  .input-container span:before,
  .input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color:  #FF4B2B;
    top: 50%;
    transform: translateY(-50%);
    border:  #FF4B2B 2px solid;
  }
  
  .input-container span:before {
    left: 50%;
  }
  
  .input-container span:after {
    right: 50%;
  }
  
  .input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
  }
  
  .input-container.focus span:before,
  .input-container.focus span:after {
    width: 50%;
    opacity: 1;
  }
  
  .contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
    background-color: #12192c;
    border: #FF4B2B 2px solid;
    z-index: 1; /* Set a z-index for the contact info */
}
  
  .contact-info .title {
    color:  #FF4B2B;
  }
  
  .text {
    color: #fff;
    margin: 1.5rem 0 2rem 0;
  }
  
  .information {
    display: flex;
    color: #fff;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
  }
  
  .icon {
    width: 28px;
    margin-right: 0.7rem;
    color: orange;
  }
  
  .social-media {
    padding: 2rem 0 0 0;
    color: orange;
  }
  
  .social-media p {
    color: #fff;
  }
  
  .social-icons {
    display: flex;
    margin-top: 0.5rem;
  }
  
  .social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, orange, red);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    transform: scale(1.05);
  }
  
  .square {
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(181%, 11%);
    opacity: 0.2;
  }
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }

.credit{
  text-align: center;
  color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.credit a{
  text-decoration: none;
  color:#FBAB7E;
  font-weight: bold;
} 

  
  @media (max-width: 850px) {
    .form {
      grid-template-columns: 1fr;
    }
    .contact-info:before {
      bottom: initial;
      top: -75px;
      right: 65px;
      transform: scale(0.95);
    }
    .contact-form:before {
      top: -13px;
      left: initial;
      right: 70px;
    }
    .square {
      transform: translate(140%, 43%);
      height: 350px;
    }
    .big-circle {
      bottom: 75%;
      transform: scale(0.9) translate(-40%, 30%);
      right: 50%;
    }
    .text {
      margin: 1rem 0 1.5rem 0;
    }
    .social-media {
      padding: 1.5rem 0 0 0;
    }
  }
  
  @media (max-width: 480px) {
    .menu {
        padding: 10px;
    }
    #logoname img {
        height: 50px;
    }
    .contain {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    button {
        margin: 5px;
        font-size: 1rem;
    }
    #text {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 768px) {
    /* Tablet and smaller screens */
    #text {
        font-size: 2rem;
    }
    .contain {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-open {
        display: flex;
        animation: slideIn 0.5s ease;
    }
    .mobile-menu-open {
        display: flex;
        animation: slideIn 0.5s ease;
        position: fixed; /* Ensure fixed positioning */
        top: 70px;
        right: 20px;
        z-index: 1000; /* Increase z-index */
    }
    .contact-info {
        z-index: 0; /* Set a lower z-index for the contact info */
    }
}
@media only screen and (min-width: 1200px) {
    /* Big Screen Laptops */
    #text {
        font-size: 3rem;
    }
    .logoname {
        font-size: 40px;
    }
    button {
        padding: 12px 25px;
        font-size: 1.1rem;
    }
}